h1{
  color:#00008B;
  font-size: 400%;
  font-family: fantasy;
}
p#boat {
  font-family: fantasy;
  line-height: 1.5;
  text-indent: 20px;
  margin-left: 10px;
}
#content{
  background-color: lavender;
  width: 1400px;
  min-height: 1400px;
  padding: 15px;
}
